table {
  width: 100%;
  border-collapse: collapse;
  color: #5e5e5e;
}

th {
  text-align: left;
}

th,
td {
  padding: 1rem;
}

th,
tr {
  border-bottom: 1px solid #cecece;
}

th {
  background-color: #e7e7e7;
}

tr:nth-child(odd) {
  background-color: #f5f5f5;
}
@media (max-width: 650px) {
  form {
    display: block;
  }

  .btn {
    width: 100%;
  }

  .group {
    margin-bottom: 10px;
  }

  th {
    display: none;
  }

  td {
    display: grid;
    grid-template-columns: 15ch auto;
    text-align: left;
  }

  td:first-child {
    padding-top: 1.5rem;
  }

  td:last-child {
    padding-bottom: 1.5rem;
    display: block;
  }
}
